* {
  margin: 0;
  padding: 0;
}

body .wholesection .herostorysect {
  position: relative;
}
body .wholesection .herostorysect img {
  width: 100%;
}
body .wholesection .herostorysect div {
  width: 27%;
  padding: 50px 40px;
  text-align: center;
  position: absolute;
  bottom: 8%;
  opacity: 0.8;
  left: 20%;
  background-color: #63cddb;
}
body .wholesection .herostorysect div p {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  color: black;
}
body .wholesection .herostory2 {
  position: relative;
}
body .wholesection .herostory2 .watermelon {
  position: absolute;
  top: 48%;
  right: 25%;
  transform: translate(-50% -50%);
}
body .wholesection .herostory2 .herostory2wrap {
  max-width: 70%;
  margin: 0 auto;
  align-items: center;
}
body .wholesection .herostory2 .herostory2wrap div {
  padding-left: 70px;
}
body .wholesection .herostory2 .herostory2wrap div p {
  width: 83%;
  line-height: 17px;
  font-size: 15px;
}

@media (max-width: 1300px) {
  body .wholesection .herostory2 .herostory2wrap {
    max-width: 100%;
  }
}
@media (max-width: 1100px) {
  body .wholesection .herostorysect div {
    width: 35%;
    padding: 60px 40px;
    bottom: 6%;
  }
}
@media (max-width: 1000px) {
  body .wholesection .herostory2 .herostory2wrap img {
    max-width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  body .wholesection .herostorysect div {
    width: 50%;
    padding: 80px 30px;
    bottom: 1%;
  }
}
@media (max-width: 790px) {
  body .wholesection .herostorysect div {
    width: 70%;
    padding: 80px 20px;
    left: 15%;
  }
}
@media (max-width: 600px) {
  body .wholesection .herostorysect div {
    width: 70%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 0 20px;
  }
}
@media (max-width: 520px) {
  body .wholesection .herostorysect div p {
    font-size: 2rem;
    padding-top: 100px;
  }
}
@media (max-width: 375px) {
  body .wholesection .herostorysect div p {
    font-size: 1.5rem;
    padding-top: 120px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body .wholesection .shophero .shopherowrap {
  margin: 7% auto;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1A {
  width: 20%;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1A p {
  align-items: center;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1A p a {
  color: black;
  text-decoration: none;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1A p span {
  font-size: 20px;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1B {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1B .image-container {
  position: relative;
  width: 48%;
  overflow: hidden;
  text-align: center;
  /* hides the overlay initially */
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1B .image-container img {
  width: 100%;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1B .overlay {
  position: absolute;
  width: 100%;
  bottom: -30%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  transition: bottom 1s ease;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1B .overlay h6 {
  color: black;
  opacity: 0;
  transition: opacity 1s ease;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1B .image-container:hover .overlay {
  bottom: 15%;
}
body .wholesection .shophero .shopherowrap .shopherowrap1 .shopherowrap1B .image-container:hover .overlay h6 {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
}

body .wholesection .enquiry {
  width: 100%;
  height: 120%;
}
body .wholesection .enquiry .enquirywrap {
  position: relative;
  height: 100%;
  width: 100%;
}
body .wholesection .enquiry .enquirywrap .enquirywrap1 {
  width: 50%;
  position: relative;
}
body .wholesection .enquiry .enquirywrap .enquirywrap1 .divopacity {
  background-color: rgba(255, 255, 255, 0.6);
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 7;
  left: 40%;
  margin-top: 20%;
  padding: 5% 0;
  height: 80%;
}
body .wholesection .enquiry .enquirywrap .enquirywrap1 .divopacity p {
  text-align: end;
  padding: 0 30px;
  font-size: 1.5rem;
}
body .wholesection .enquiry .enquirywrap .enquirywrap1 img {
  width: 100%;
  height: 100%;
}
body .wholesection .enquiry .enquirywrap .enquirywrap2 {
  background-color: #eb8383;
  width: 50%;
  height: 100%;
  padding: 13% 8%;
}
body .wholesection .enquiry .enquirywrap .enquirywrap2 h6 {
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
}

body .wholesection .blogsection {
  height: 100%;
}
body .wholesection .blogsection .blogwrapper {
  max-width: 70%;
  margin: 0 auto;
}
body .wholesection .blogsection .blogwrapper .blogwrapper1 {
  width: 100%;
  border: 1px solid #e6e6e7;
}
body .wholesection .blogsection .blogwrapper .blogwrapper1 .blogwrapper1B {
  width: 50%;
  padding: 0 30px;
}
body .wholesection .blogsection .blogwrapper .blogwrapper1 .blogwrapper1B a {
  color: black;
  text-decoration: none;
}
body .wholesection .blogsection .blogwrapper .blogwrapper1 .blogwrapper1B .blogA {
  display: flex;
  align-items: center;
}
body .wholesection .blogsection .blogwrapper .blogwrapper1 .blogwrapper1B .blogA img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
body .wholesection .blogsection .blogwrapper .blogwrapper1 .blogwrapper1B .blogA .blogA1 {
  margin-top: 10px;
  padding: 0 15px;
}
body .wholesection .blogsection .blogwrapper .blogwrapper1 .blogwrapper1B .blogA .blogA1 p {
  font-size: 14px;
  line-height: 17px;
}

* {
  margin: 0;
  padding: 0;
}

body .wholesection .navsection {
  position: relative;
  position: sticky;
  top: 0px;
  z-index: 50;
}
body .wholesection .navsection nav div ul a:hover {
  color: #63cddb;
}
body .wholesection .herosection {
  position: relative;
  height: 100%;
}
body .wholesection .herosection .carousel-fade {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
body .wholesection .herosection .carousel-fade .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wholesection .herosection .herotext {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
body .wholesection .herosection .herotext p {
  width: 45%;
  font-size: 15px;
  line-height: 25px;
}
body .wholesection .herosection .buttoon {
  position: absolute;
  bottom: 15%;
  left: 25%;
  font-weight: bold;
  z-index: 3;
  color: #63cddb;
  outline: 0;
  border: 3px solid #63cddb;
  background-color: transparent;
  width: 130px;
  height: 40px;
}
body .wholesection .herosection .buttoon:hover {
  background-color: #59bac7;
  color: white;
  transition: 0.4s ease;
}
body .wholesection .herootwo {
  width: 100%;
  height: 100%;
  position: relative;
}
body .wholesection .herootwo img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wholesection .herootwo .herootwoA {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  padding: 8% 0;
  background-color: #63cddb;
  padding-left: 20%;
}
body .wholesection .herootwo .herootwoA h1 {
  color: white;
}
body .wholesection .herootwo .herootwoA p {
  width: 77%;
  color: white;
  line-height: 25px;
  margin-top: 10%;
  margin-bottom: 30%;
}
body .wholesection .herootwo .herootwoA a {
  border: 3px solid white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0;
  color: white;
}
body .wholesection .herootwo .herootwoA a:hover {
  color: #63cddb;
  transition: 0.5s ease;
  background-color: white;
}
body .wholesection .recipe {
  height: 80%;
}
body .wholesection .recipe .recipeA {
  width: 50%;
  height: 100%;
}
body .wholesection .recipe .recipeA img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wholesection .recipe .recipeB {
  background-color: #facc75;
  width: 50%;
  height: 100%;
  padding: 15% 10%;
}
body .wholesection .recipe .recipeB h1 {
  color: white;
  margin-bottom: 15%;
}
body .wholesection .recipe .recipeB a {
  border: 3px solid white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0;
  color: white;
}
body .wholesection .recipe .recipeB a:hover {
  color: #facc75;
  transition: 0.5s ease;
  background-color: white;
}
body .wholesection .instagram {
  height: auto;
  margin: 5% 0;
}
body .wholesection .instagram .instagramwrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 50px;
}
body .wholesection .instagram .instagramwrapper h1 {
  color: #63cddb;
}
body .wholesection .instagram .instagramwrapper .imagewrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
body .wholesection .instagram .instagramwrapper .imagewrapper .image-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
body .wholesection .instagram .instagramwrapper .imagewrapper .image-container .image-text:hover {
  opacity: 1;
}
body .wholesection .instagram .instagramwrapper .imagewrapper .image-container img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}
body .wholesection .instagram .instagramwrapper .imagewrapper .image-container video {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wholesection .instagram .instagramwrapper .imagewrapper .image-container .image-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 40px;
  line-height: 20px;
  opacity: 0;
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .wholesection .instagram .instagramwrapper .imagewrapper .image-container .image-text p {
  font-size: 25px;
}
body .wholesection .instagram .instagramwrapper a {
  padding: 5px 0px;
  width: 150px;
  border: 1px solid #eb8383;
  color: #eb8383;
  text-decoration: none;
  font-weight: bold;
}
body .wholesection footer {
  background-color: #63cddb;
  margin-top: 17%;
}
body .wholesection footer .footerwrapper {
  max-width: 30%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  padding: 40px 0;
}
body .wholesection footer .footerwrapper h3 {
  font-weight: 900;
}
body .wholesection footer .footerwrapper form {
  width: 100%;
}
body .wholesection footer .footerwrapper form .form-control {
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
  outline: 0;
}
body .wholesection footer .footerwrapper .icondiv {
  text-align: center;
  justify-content: center;
  color: white;
}
body .wholesection footer .footerwrapper .icondiv i {
  color: white;
  font-size: 28px;
  margin: 0 5px;
}

@media (max-width: 1000px) {
  body .wholesection .herosection .herotext {
    top: 35%;
  }
  body .wholesection .herosection .herotext p {
    font-size: 20px;
    line-height: 40px;
    margin-top: 30px;
    width: 80%;
  }
  body .wholesection .herootwo img {
    display: none;
  }
  body .wholesection .herootwo .herootwoA {
    width: 100%;
  }
  body .wholesection .herootwo .herootwoA p {
    font-size: 20px;
    line-height: 40px;
  }
  body .wholesection .recipe {
    display: flex;
    height: auto;
    flex-direction: column;
  }
  body .wholesection .recipe .recipeA {
    width: 100%;
  }
  body .wholesection .recipe .recipeB {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  body .wholesection footer .footerwrapper {
    max-width: 50%;
  }
}
@media (max-width: 700px) {
  body .wholesection .herosection .herotext p {
    width: 100%;
  }
}
@media (max-width: 800px) {
  body .wholesection .instagram .instagramwrapper .imagewrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 400px) {
  body .wholesection .herosection {
    height: 120%;
  }
  body .wholesection .herosection .herotext {
    top: 40%;
  }
  body .wholesection .instagram .instagramwrapper .imagewrapper {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  body .wholesection .herootwo {
    height: 120%;
  }
  body .wholesection .herootwo .herootwoA p {
    font-size: 20px;
    line-height: 40px;
  }
}