* {
  margin: 0;
  padding: 0;
}

body .wholesection nav {
  background-color: white;
}
body .wholesection nav .navwrapper {
  height: 120px;
  max-width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}
body .wholesection nav .navwrapper img {
  height: 50px;
}
body .wholesection nav .navwrapper ul {
  gap: 50px;
  font-size: 12px;
}
body .wholesection nav .navwrapper ul li {
  list-style-type: none;
}
body .wholesection nav .navwrapper ul li a {
  text-decoration: none;
  color: black;
}
body .wholesection nav .navwrapper ul li i {
  font-size: 25px;
}
body .wholesection nav .navwrapper ul li:hover {
  color: #63cddb;
}
body .wholesection nav .navwrapper ul li:hover a:hover {
  color: #63cddb;
}
body .wholesection .herosection {
  position: relative;
  height: 100%;
}
body .wholesection .herosection .carousel-fade {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
body .wholesection .herosection .carousel-fade .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wholesection .herosection .herotext {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
body .wholesection .herosection .herotext p {
  width: 45%;
  font-size: 15px;
  line-height: 25px;
}
body .wholesection .herosection .buttoon {
  position: absolute;
  bottom: 15%;
  left: 25%;
  font-weight: bold;
  z-index: 3;
  color: #63cddb;
  outline: 0;
  border: 3px solid #63cddb;
  background-color: transparent;
  width: 130px;
  height: 40px;
}
body .wholesection .herosection .buttoon:hover {
  background-color: #59bac7;
  color: white;
  transition: 0.4s ease;
}
body .wholesection .herootwo {
  width: 100%;
  height: 100%;
  position: relative;
}
body .wholesection .herootwo img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wholesection .herootwo .herootwoA {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  padding: 8% 0;
  background-color: #63cddb;
  padding-left: 20%;
}
body .wholesection .herootwo .herootwoA h1 {
  color: white;
}
body .wholesection .herootwo .herootwoA p {
  width: 77%;
  color: white;
  line-height: 25px;
  margin-top: 10%;
  margin-bottom: 30%;
}
body .wholesection .herootwo .herootwoA a {
  border: 3px solid white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0;
  color: white;
}
body .wholesection .herootwo .herootwoA a:hover {
  color: #63cddb;
  transition: 0.5s ease;
  background-color: white;
}