*{
    margin: 0;
    padding: 0;
}
body{
    .wholesection{
        .blogsection{
            // background-color: aqua;
            // height: 100%;
            .blogwrapper{
                max-width: 70%;
                margin: 0 auto;
                .blogwrapper1{
                    width: 100%;
                    border: 1px solid #e6e6e7;
                    .blogwrapper1A{
                        width: 50%;
                        
                    }
                    .blogwrapper1B{
                        width: 50%;
                        padding: 10px 30px;
                        a{
                            color: rgb(100, 99, 99);
                            text-decoration: none;
                        }
                        .blogA{
                            display: flex;
                            align-items: center;
                         
                            img{
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                            }
                            .blogA1{
                                margin-top: 10px;
                                padding:0 15px ;
                                
                                p{
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                            }
                        }
                        .blogb{
                            p{
                                font-size: 16px;
                                font-family: 'Montserrat', sans-serif;
                            }
                        }
                        .blogb:hover{
                            opacity: 0.6;
                            transition: opacity 0.5 ease;
                        }
                        hr{
                            margin-top: 20%;
                        }
                        p{
                            display: flex;
                            justify-content: space-between;
                            font-size: 12px;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1300px) {
    body{
        .wholesection{
            .blogsection{
                .blogwrapper{
                    max-width: 90%;
                    .blogwrapper1{
                        .blogwrapper1A{
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:890px) {
    body{
        .wholesection{
            .blogsection{
                .blogwrapper
                .blogwrapper1{
                    .blogwrapper1B{
                        .blogb{
                            h2{
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:890px) {
    body{
        .wholesection{
            .blogsection{
                .blogwrapper
                .blogwrapper1{
                    display: flex;
                    flex-direction: column;
                    .blogwrapper1A{
                        width: 100%;

                    }
                    .blogwrapper1B{
                        width: 100%;
                        padding:  30px;
                    }
                }
            }
        }
    }
}