*{
    margin: 0;
    padding: 0;
}

body{
    .wholesection{
        .enquiry{
//    background-color: black;
width: 100%;
   height: auto;

   .enquirywrap{
    position: relative;
    // background-color: aqua;
    // height: 100%;
    // overflow: hidden;
    width: 100%;
    .enquirywrap1{
        width: 50%;
        position: relative;
        .divopacity{
            // background-color: white;
            background-color: rgba($color: #ffff, $alpha: 0.8);
            width: 60%;
            height: 100%;
            position: absolute;
            z-index: 7;
            left: 40%;
            margin-top: 20%;
            padding: 5% 0;
            height: 80%;
            p{
                text-align: end;
                padding: 0 30px;
                font-size: 1.5rem;
                
                
            }

        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .enquirywrap2{
        background-color: #eb8383;
        width: 50%;
        // height: 100%;
        padding: 13% 8%;
        h6{
            font-weight: bolder;
        }
    }
   }

}}
}