*{
    margin: 0;
    padding: 0;
}

body{
    .storysection{
                .navsection{
            position: relative;
            // position: sticky;
                // top: 1px;
            z-index: 999;
        nav{
            background-color: rgb(255, 255, 255);
            position: sticky;
            z-index: 999;
            top: 0px;
            .navwrapper{
                height: 120px;
                max-width: 95%;
                margin: 0 auto;
                justify-content: space-between;
               
                // align-items: center;
                img{
                    height: 50px;
                }
                ul{
                   gap: 50px;
                   font-size: 12px;
                   li{
                    list-style-type: none;
                    
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    a:active{
                        color: #63cddb;
                        border-bottom: 2px solid #63cddb;
                    }
                    i{
                        font-size: 25px;
                    }
                   }
                   li:hover{
                    color: #63cddb;
                    a:hover{
                        color: #63cddb;
                    }
                   }
                }
        }
    }
        }

        .herostorysect{
            position: relative;
            // z-index: 8;
        div{
            width: 27%;
            padding: 50px 40px;
            text-align: center;
            position: absolute;
            bottom: 8%;
            // z-index: 8;
            opacity: 0.8;
            left: 20%;
            // height: 200px;
            background-color: #63cddb;
            p{
                font-size: 3rem;
                    font-weight: bold;
                    width: 100%;
                    color: black;
                    
            }
        }
      }
      .herostory2{
        .herostory2wrap{
            max-width: 70%;
            margin: 0 auto;
            
            // background-color: #63cddb;
            div{
                
                padding-left: 70px;
               
                p{
                    width: 83%;
                    line-height: 17px;
                    font-size: 15px;
                }
            }
        }
      }
    }
}