@import './story';
@import './shop';
@import './enquiries';
@import './blog';

*{
    margin: 0;
    padding: 0;
}
body{
    .wholesection{
        .navsection{
            // position: relative;
            // position: sticky;
            //     top: 0px;
            // z-index: 50;
        nav{
            background-color: white;
            .container-fluid{
                // height: 100px;
                // max-width: 95%;
                margin: 0 auto;
                // justify-content: space-between;/
               
                // align-items: center;
                img{
                    height: 50px;
                }
                ul{
                //    gap: 20px;
                   font-size: 12px;
                   li{
                    list-style-type: none;
                    font-weight: bold;
                    // padding: 0 10px;
                    font-size: 11px;
                    font-weight: bolder;
                    
                    a{
                        text-decoration: none;
                        color: black;
                        font-weight: bolder;
                    }
                    a:active{
                        color: #63cddb;
                        border-bottom: 2px solid #63cddb;
                    }
                    i{
                        font-size: 25px;
                    }
                   }
                   li:hover{
                    color: #63cddb;
                    a:hover{
                        color: #63cddb;
                    }
                   }
                }
        }
    }
        }
    .herosection{
        position: relative;
        height: 100%;
        .carousel-fade{
           position: absolute;
            height: 100%;
            width: 100%;
            overflow: hidden;
            top: 0;
            left: 0;
            // z-index: 5;
                // transition: 1s ease-in;
            .carousel-item{
                img{
                    width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // transition: 0.5s ease-in;
                }
            }
                 }
                 .herotext{
                    position: absolute;
                        top: 28%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        // text-align: center;
                        z-index: 2;
                        p{
                            width: 45%; 
                            font-size: 15px;
                            line-height: 25px;
                        }
                 }
                 .buttoon{
                    position: absolute;
                    bottom: 15%;
                    left: 25%;
                    font-weight: bold;
                    z-index: 3;
                    color: #63cddb;
                    outline: 0;
                    border: 3px solid #63cddb;
                    background-color: transparent;
                    width: 130px;
                    height: 40px;

                 }
                 .buttoon:hover{
                    background-color: #59bac7;
                    color: white;
                    transition: 0.4s ease;
                 }
    }
    .herootwo{
        width: 100%;
        height: 100%;
        // height: auto;
        position: relative;
        img{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .herootwoA{
            width: 50%;
            height: 100%;
            position: absolute;
            z-index: 4;
            top: 0;
            padding: 8% 0;
            background-color: #63cddb;
            padding-left: 20%;
            // display: none;
            h1{
              color: white;
            }
            p{
                width: 77%;
                color: white;
                line-height: 25px;
                margin-top: 10%;
                margin-bottom: 30%;
            }
            a{
                
                border: 3px solid white;
                // width: 130px;
                padding: 10px 20px;
                text-decoration: none;
                font-weight: bold;
                border-radius: 0;
                color: white;

            }
            a:hover{
                color: #63cddb;
                transition: 0.5s ease;
                background-color: white;
            }
        }
    }
    .recipe{
        height: 80%;
        .recipeA{
            width: 50%;
            height: 100%;
            // background-color: #eeeeee;
   
            img{   
                height: 100%;
                width: 100%;
                object-fit: cover;

            }
        }
        .recipeB{
            background-color: #facc75;
            width: 50%;
                height: 100%;
                padding: 15% 10%;
                h1{
                    color: white;
                    margin-bottom: 15%;
                }
                a{
                
                border: 3px solid white;
                // width: 130px;
                padding: 10px 20px;
                text-decoration: none;
                font-weight: bold;
                border-radius: 0;
                color: white;

            }
            a:hover{
                color: #facc75;
                transition: 0.5s ease;
                background-color: white;
            }
        }
    }
    .instagram{
        height: auto;
        margin: 5% 0;
        .instagramwrapper{
            // max-width: 70%;
            // height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            // background-color: #59bac7;
            gap: 50px;

            h1{
                color: #63cddb;
            }


             .imagewrapper{
                display: grid;
                grid-template-columns: repeat(3, auto);
            .image-container{
                position: relative;
                // width: 100%;
                cursor: pointer;
                overflow: hidden;
                
                .image-text:hover {
                        opacity: 1;
                        // color: white;
                    }
                img{
                    width: 100%;
                    display: block;
                    object-fit: cover;
                    height: 300px;
                    // overflow: hidden;
                }
                video{
                    width: 100%;
                        height: 300px;
                        object-fit: cover;
                }
                
                .image-text {
               position: absolute;
               width: 100%;
               height: 100%;
               top: 50%;
                left: 50%;
               transform: translate(-50%, -50%);
               background-color: rgba(0, 0, 0, 0.5);
             color: #fff;
              padding:40px ;
              line-height: 20px;
            //   display: none;
            //   visibility: hidden;
             opacity: 0;
               transition: all 2s ease;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;

               p{
                font-size: 25px;
               }
              }
                          
            }
                        }
            a{
                padding: 5px 0px;
                width: 150px;
                border: 1px solid #eb8383;
                color: #eb8383;
                text-decoration: none;
                font-weight: bold;
            }
           
 
        }
    }
         footer {
             background-color: #63cddb;
             margin-top: 17%;
    
             .footerwrapper {
                 max-width: 30%;
                 margin: 0 auto;
                 text-align: center;
                 display: flex;
                 flex-direction: column;
                 gap: 50px;
                 justify-content: center;
                 padding: 40px 0;
                //  margin-left: 50%;
                h3{
                    font-weight: 900;
                }
                form{
                    width: 100%;
                    .form-control{
                        border: 0;
                        border-bottom: 2px solid white;
                        border-radius: 0;
                        outline: 0 ;
                    }
                }
                .icondiv{
                    text-align: center;
                    justify-content: center;
                    color: white;
               i{
                color: white;
                font-size: 28px;
                margin: 0 5px;
               }}
             }
         }

}
}

// media query starts here

@media (max-width:1000px) {
    body{
        .wholesection{
            // height: auto;
            .herosection{
                // height: auto;
                .herotext{
                    top: 35%;
                    p{
                        font-size: 20px;
                        line-height: 40px;
                        margin-top: 30px;
                        width: 80%;
                    }
                }
            }
            .herootwo{
                // height: auto;
                img{
                    display: none;
                }
                .herootwoA{
                    width: 100%;
                    // text-align: center;
                    p{
                        font-size: 20px;
                        line-height: 40px;
                    }
                }
                

            }
            .recipe{
                display: flex;
                height: auto;
                flex-direction: column;
                .recipeA{
                    width: 100%;
             
                }
                .recipeB{
                    width: 100%;
                    text-align: center;
                
                }
            }
            
        }
    }
}

@media (max-width:900px) {
    body{
        .wholesection{
            footer{
                .footerwrapper{
                    max-width: 50%;
                }
            }
        }
    }
    
}
@media (max-width:700px) {
    body{
        .wholesection{
            .herosection{
                // height: auto;
                .herotext{
                    p{

                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width:800px) {
    body{
        .wholesection{
            .instagram {
                    .instagramwrapper {
                        .imagewrapper {
                            display: grid;
                            grid-template-columns: repeat(2, auto);
                        }
            
                    }
            
                }
        }
    }
}
@media (max-width:400px) {
    body {
        .wholesection {
            .herosection{
                height: 120%;
                .herotext{
                    top: 40%;
                }
            }
            .instagram {
                    .instagramwrapper {
                        .imagewrapper {
                            display: grid;
                            grid-template-columns: repeat(1, auto);
                        }
            
                    }
            
                    
                }
                .herootwo{
                        height: 120%;
                        .herootwoA {

                                p {
                                    font-size: 20px;
                                    line-height: 40px;
                                }
                            }
                    }
        }
    }
}