@import './story';
@import './shop';

*{
    margin: 0;
    padding: 0;
}
body{
    .wholesection{
        .navsection{
            position: relative;
            position: sticky;
                top: 0px;
            z-index: 50;
        nav{
            background-color: white;
            .navwrapper{
                height: 120px;
                max-width: 95%;
                margin: 0 auto;
                justify-content: space-between;
               
                // align-items: center;
                img{
                    height: 50px;
                }
                ul{
                   gap: 50px;
                   font-size: 12px;
                   li{
                    list-style-type: none;
                    
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    a:active{
                        color: #63cddb;
                        border-bottom: 2px solid #63cddb;
                    }
                    i{
                        font-size: 25px;
                    }
                   }
                   li:hover{
                    color: #63cddb;
                    a:hover{
                        color: #63cddb;
                    }
                   }
                }
        }
    }
        }
    .herosection{
        position: relative;
        height: 100%;
        .carousel-fade{
           position: absolute;
            height: 100%;
            width: 100%;
            overflow: hidden;
            top: 0;
            left: 0;
            // z-index: 5;
                // transition: 1s ease-in;
            .carousel-item{
                img{
                    width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // transition: 0.5s ease-in;
                }
            }
                 }
                 .herotext{
                    position: absolute;
                        top: 28%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        // text-align: center;
                        z-index: 2;
                        p{
                            width: 45%;
                            font-size: 15px;
                            line-height: 25px;
                        }
                 }
                 .buttoon{
                    position: absolute;
                    bottom: 15%;
                    left: 25%;
                    font-weight: bold;
                    z-index: 3;
                    color: #63cddb;
                    outline: 0;
                    border: 3px solid #63cddb;
                    background-color: transparent;
                    width: 130px;
                    height: 40px;

                 }
                 .buttoon:hover{
                    background-color: #59bac7;
                    color: white;
                    transition: 0.4s ease;
                 }
    }
    .herootwo{
        width: 100%;
        height: 100%;
        // height: auto;
        position: relative;
        img{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .herootwoA{
            width: 50%;
            height: 100%;
            position: absolute;
            z-index: 4;
            top: 0;
            padding: 8% 0;
            background-color: #63cddb;
            padding-left: 20%;
            h1{
              color: white;
            }
            p{
                width: 77%;
                color: white;
                line-height: 25px;
                margin-top: 10%;
                margin-bottom: 30%;
            }
            a{
                
                border: 3px solid white;
                // width: 130px;
                padding: 10px 20px;
                text-decoration: none;
                font-weight: bold;
                border-radius: 0;
                color: white;

            }
            a:hover{
                color: #63cddb;
                transition: 0.5s ease;
                background-color: white;
            }
        }
    }
    .recipe{
        height: 80%;
        .recipeA{
            width: 50%;
            height: 100%;
            // background-color: #eeeeee;
   
            img{   
                height: 100%;
                width: 100%;

            }
        }
        .recipeB{
            background-color: #facc75;
            width: 50%;
                height: 100%;
                padding: 15% 10%;
                h1{
                    color: white;
                    margin-bottom: 15%;
                }
                a{
                
                border: 3px solid white;
                // width: 130px;
                padding: 10px 20px;
                text-decoration: none;
                font-weight: bold;
                border-radius: 0;
                color: white;

            }
            a:hover{
                color: #facc75;
                transition: 0.5s ease;
                background-color: white;
            }
        }
    }
    .instagram{
        height: auto;
        margin: 5% 0;
        .instagramwrapper{
            max-width: 70%;
            // height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            // background-color: #59bac7;
            gap: 50px;

            h1{
                color: #63cddb;
            }


             .imagewrapper{
                // flex-wrap: wrap;
                // display: flex;
                // justify-content: space-between;
                display: grid;
                grid-template-columns: repeat(3, auto);
            .image-container{
                position: relative;
                // width: 100%;
                cursor: pointer;
                
                .image-text:hover {
                        // visibility: visible;
                        // display: block;
                        opacity: 1;
                        // color: white;
                    }
                img{
                    width: 100%;
                    display: block;
                    height: 300px;
                }
                video{
                    width: 100%;
                        height: 300px;
                        object-fit: cover;
                }
                
                .image-text {
               position: absolute;
               width: 100%;
               height: 100%;
               top: 50%;
                left: 50%;
               transform: translate(-50%, -50%);
               background-color: rgba(0, 0, 0, 0.5);
             color: #fff;
              padding:40px ;
              line-height: 20px;
            //   display: none;
            //   visibility: hidden;
             opacity: 0;
               transition:  opacity 0.5s ease;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;

               p{
                font-size: 25px;
               }
              }
                          
            }
                        }
            a{
                padding: 5px 0px;
                width: 150px;
                border: 1px solid #eb8383;
                color: #eb8383;
                text-decoration: none;
                font-weight: bold;
            }
           
 
        }
    }
         footer {
             background-color: #63cddb;
             margin-top: 17%;
    
             .footerwrapper {
                 max-width: 30%;
                 margin: 0 auto;
                 text-align: center;
                 display: flex;
                 flex-direction: column;
                 gap: 50px;
                 justify-content: center;
                 padding: 40px 0;
                //  margin-left: 50%;
                h3{
                    font-weight: 900;
                }
                form{
                    width: 100%;
                }
                .icondiv{
                    text-align: center;
                    justify-content: center;
                    color: white;
               i{
                color: white;
                font-size: 28px;
                margin: 0 5px;
               }}
             }
         }







        //  story page start from here


      
}
}