*{
    margin: 0;
    padding: 0;
}
body{
    .wholesection{
        nav{
            background-color: white;
            // position: relative;
            .navwrapper{
                height: 120px;
                max-width: 95%;
                margin: 0 auto;
                justify-content: space-between;
                // position: sticky;
                    // top: 0px;
                // align-items: center;
                img{
                    height: 50px;
                }
                ul{
                   gap: 50px;
                   font-size: 12px;
                   li{
                    list-style-type: none;
                    
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    i{
                        font-size: 25px;
                    }
                   }
                   li:hover{
                    color: #63cddb;
                    a:hover{
                        color: #63cddb;
                    }
                   }
                }
        }
    }
    .herosection{
        position: relative;
        height: 100%;
        .carousel-fade{
           position: absolute;
            height: 100%;
            width: 100%;
            overflow: hidden;
            top: 0;
            left: 0;
                // transition: 1s ease-in;
            .carousel-item{
                img{
                    width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // transition: 0.5s ease-in;
                }
            }
                 }
                 .herotext{
                    position: absolute;
                        top: 28%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        // text-align: center;
                        z-index: 2;
                        p{
                            width: 45%;
                            font-size: 15px;
                            line-height: 25px;
                        }
                 }
                 .buttoon{
                    position: absolute;
                    bottom: 15%;
                    left: 25%;
                    font-weight: bold;
                    z-index: 3;
                    color: #63cddb;
                    outline: 0;
                    border: 3px solid #63cddb;
                    background-color: transparent;
                    width: 130px;
                    height: 40px;

                 }
                 .buttoon:hover{
                    background-color: #59bac7;
                    color: white;
                    transition: 0.4s ease;
                 }
    }
    .herootwo{
        width: 100%;
        height: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .herootwoA{
            width: 50%;
            height: 100%;
            position: absolute;
            z-index: 4;
            top: 0;
            padding: 8% 0;
            background-color: #63cddb;
            padding-left: 20%;
            h1{
              color: white;
            }
            p{
                width: 77%;
                color: white;
                line-height: 25px;
                margin-top: 10%;
                margin-bottom: 30%;
            }
            a{
                
                border: 3px solid white;
                // width: 130px;
                padding: 10px 20px;
                text-decoration: none;
                font-weight: bold;
                border-radius: 0;
                color: white;

            }
            a:hover{
                color: #63cddb;
                transition: 0.5s ease;
                background-color: white;
            }
        }
    }
}
}