*{
    margin: 0;
    padding: 0;
}
body{
    .wholesection{
        nav{
            background-color: white;
            position: sticky;
            top: 0px;
            .navwrapper{
                height: 120px;
                max-width: 95%;
                margin: 0 auto;
                justify-content: space-between;
                // align-items: center;
                img{
                    height: 50px;
                }
                ul{
                   gap: 50px;
                   font-size: 12px;
                   li{
                    list-style-type: none;
                    
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    i{
                        font-size: 25px;
                    }
                   }
                   li:hover{
                    color: #63cddb;
                    a:hover{
                        color: #63cddb;
                    }
                   }
                }
        }
    }
}
}